# Entornos virtuales & dependencias
venv/
.venv/
env/
node_modules/

# Archivos compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env.local
.env.*.local

# Directorios de IDEs
.vscode/
.idea/

# Bases de datos locales & analytics
*.sqlite3
*.db
*.duckdb
*.duckdb.wal

# Build Outputs
dist/
build/
.cache/
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db
